#pbar-container {
    margin-top: 2px;
    padding-bottom: 2px;
    @include backcolor($mediumgrey);
    @include mousecursor(pointer);
}
    #pbar {
        height: 5px;
        @include backcolor($lightblue);
    }